#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zephyr,display = &st7789;
    };
};

&spi1 {
    status = "okay";

    st7789: st7789@0 {
        compatible = "sitronix,st7789v";
        reg = <0>;

        width = <240>;
        height = <240>;

        porch-param = <0 0 0 0 0 0>;
        vcom = <0x2C>;

        dc-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
    };
};
